/* Base */
.container {
  padding: 0 2rem;
  background-color: var(--custom-panel-color);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 -30px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
/* Base */

/* Footer */
.footer {
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 30px;
}
/* Footer */

/* Menu Desktop */
.MenuDesktop {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 40px;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MenuDesktop a:hover {
  background-color: #41444e;
}

.MenuDesktopExit {
  position: fixed;
  top: 0px;
  right: 10px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}
.MenuDesktopExit a:hover {
  background-color: #41444e !important;
}
@media (max-width: 719px) {
  .MenuDesktop {
    display: none !important;
  }
}
